<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.junhua.system.mapper.SysDicMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, tenant_id, parent_id, dic_name, dic_code, sort, dic_status, comments, created_by, created_time, modified_by, modified_time, del_flag
    </sql>

    <select id="selectPageList" resultType="me.junhua.system.dto.view.DicDTO">
        select
        <include refid="Base_Column_List"/>
        from sys_dic
        where del_flag = 0
        <trim prefix="and (" suffix=")" prefixOverrides="and">
            <if test="dic.id != null">
                and id = #{dic.id}
            </if>
            <if test="dic.parentId != null">
                and parent_id = #{dic.parentId}
            </if>
            <if test="dic.dicName != null and dic.dicName != ''">
                and dic_name like "%"#{dic.dicName}"%"
            </if>
            <if test="dic.dicCode != null and dic.dicCode != ''">
                and dic_code like "%"#{dicCode}"%"
            </if>
        </trim>
        order by sort
    </select>

    <select id="selectByPid" resultType="me.junhua.system.dto.view.DicDTO">
        select
        <include refid="Base_Column_List"/>
        from sys_dic
        where del_flag = 0 and parent_id = #{pid}
    </select>

    <select id="getChildrenByDicCode" resultType="me.junhua.system.entity.SysDic">
        select cdic.* from sys_dic pdic
        inner join sys_dic cdic on pdic.id = cdic.parent_id
        where pdic.dic_code = #{dicCode}
        order by cdic.sort
    </select>
</mapper>
